.NameTable,tr,td,th {
    border: solid 1px #000;
    border-collapse: collapse;

}
tr:hover{
    background-color: rgb(226, 58, 43);
}
th{
    width:80px;
    height:70px;
}
tr,td{
    padding:20px;
    text-align: center;
    width:80px;

}

.one{                       
    background-color: rgb(78, 172, 239);
}
.two
{
    background-color: rgb(109, 224, 134);
}
.three{
    background-color: rgb(199, 83, 195);

}
.four{
    background-color: rgb(155, 117, 219);

}
.five{
    background-color: rgb(60, 155, 155);

}